# Database (Postgres)
DATABASE_URL="postgresql://flashcrypto:flashcrypto_secret@localhost:5434/flashcrypto?schema=public"

# Redis
REDIS_URL="redis://localhost:6380"

# API & Security
PORT=4000
JWT_SECRET="super-secret-jwt-key-flashcrypto-2026"

# Binance Streams
BINANCE_WS_URL="wss://stream.binance.com:9443"
BINANCE_REST_URL="https://api.binance.com"

# Telegram Bot (Optional for alert notifications)
TELEGRAM_BOT_TOKEN=""
